.App {
  text-align: left;
  max-width: 1024px;
  padding: 10px;
}

.App-header {
  background-color: #ffffff;
  border-bottom: 2px solid #222;
  margin: 0 4px 0 4px;
  height: 40px;
  padding: 16px;
  right: 0;
  left: 0;
  top: 0;
  color: #222;
}

.App-title {
  font-size: 1.5em;
}

.Section {
  margin-left: 10px;
}

.Section-title {
  font-size: 1.15em;
}

.Section-list {
  font-size: small;
}